*

!.gitignore

# Fase 1
!/fase_1/
!/fase_2/
!/fase_3/
!/fase_4/

# Tech Challenge
!/fase_1/tech_challenge
!/fase_1/tech_challenge/toggle-master-monolith/
!/fase_1/tech_challenge/toggle-master-monolith/**

# Doc
!/fase_1/tech_challenge/doc/
!/fase_1/tech_challenge/doc/**