*

!.gitignore

# Fases
!/fase_*/

# Tech Challenge
!/fase_*/tech_challenge
!/fase_*/tech_challenge/toggle-master-*/
!/fase_*/tech_challenge/toggle-master-*/**

# Doc
!/fase_*/tech_challenge/doc/
!/fase_*/tech_challenge/doc/**