apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: app-health-demo
resources:
  - namespace.yaml
  - deployment.yaml
  - service.yaml
  - hpa.yaml
  - pdb.yaml
  - prometheus.yaml
