# AWS configuration
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_ENDPOINT_URL=http://localstack:4566
AWS_DYNAMODB_TABLE=VolunteerTable

# Application port
PORT=8083

LOG_LEVEL=INFO
