apiVersion: apps/v1
kind: Deployment
metadata:
  name: fiap-todo-green
  labels:
    app: fiap-todo-api
    version: green
spec:
  replicas: 3
  selector:
    matchLabels:
      app: fiap-todo-api
      version: green
  template:
    metadata:
      labels:
        app: fiap-todo-api
        version: green
    spec:
      containers:
      - name: api
        image: 860721974296.dkr.ecr.us-east-1.amazonaws.com/fiap-todo-api:latest
        ports:
        - containerPort: 3000
        env:
        - name: VERSION
          value: "v2.0-green"
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"
