Flask==3.0.3
gunicorn==20.1.0
python-dotenv==0.21.0
boto3==1.26.50
opentelemetry-distro
opentelemetry-api==1.33.0
opentelemetry-sdk==1.33.0
opentelemetry-exporter-otlp==1.33.0
opentelemetry-instrumentation-flask==0.54b0
opentelemetry-instrumentation-requests==0.54b0
