apiVersion: v1
kind: Service
metadata:
  name: {{ include "myrustapp.fullname" . }}
  labels:
    {{- include "myrustapp.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.containerPort }}
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: {{ include "myrustapp.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
